/*--| Body
-------------------------------------------------------------------------- |--*/
/* line 3, body.scss */
.fa { background-color: #2156a6; margin: 0px 0px 0px 0px; }

/* line 4, body.scss */
html { overflow: hidden; }

/* line 6, body.scss */
.a00, .a01, .a02, .a03, .a04, .tapar { width: 100%; height: 100%; background-color: #fff; position: absolute; overflow: hidden; z-index: 900; -webkit-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }

/* line 20, body.scss */
.a00 { background-color: #fff; z-index: 0; }

/*home*/
/* line 21, body.scss */
.a01 { background-color: #2e6399; right: -100%; }

/*votación*/
/* line 22, body.scss */
.a02 { background-color: #d9584c; left: -100%; }

/* line 23, body.scss */
.a03 { background-color: #d99048; bottom: -100%; }

/* line 24, body.scss */
.a04 { background: #609926 url(../../img/front/patterns/green.png) repeat 0px 0px; top: -100%; }

/*tienda*/
/* line 25, body.scss */
.tapar { background-color: #e6bd45; z-index: 800; top: 0px; left: 0px; }

/* line 27, body.scss */
.m01 { top: 0%; right: 0%; }

/* line 28, body.scss */
.m02 { top: 0%; left: 0%; }

/* line 29, body.scss */
.m03 { bottom: 0%; left: 0%; }

/* line 30, body.scss */
.m04 { top: 0%; left: 0%; }

/* line 32, body.scss */
.wrapper { position: absolute; top: 50%; left: 50%; margin: -18% 0px 0px -49%; }
