/*--| Body
-------------------------------------------------------------------------- |--*/

html {overflow: hidden;}

.a00, .a01, .a02, .a03, .a04, .tapar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  z-index: 900;
  -webkit-transition: all 0.8s ease-in-out;
     -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
       -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
  }

.a00 {background-color: #fff; z-index: 0;} /*home*/
.a01 {background-color: #2e6399; right: -100%;} /*votación*/
.a02 {background-color: #b21247; left: -100%;} /*gala*/
.a03 {background-color: #b21247; bottom: -100%;} /*participá*/
.a04 {background-color: #609926; top: -100%;} /*tienda*/
.a05 {background-color: #609926; top: -100%; right: -100%;} /*premios*/
.tapar {background-color: #e6bd45; z-index:800; top: 0px; left: 0px;}

.m01 {top: 0%; right: 0%;}
.m02 {top: 0%; left: 0%;}
.m03 {bottom: 0%; left: 0%;}
.m04 {top: 0%; left: 0%;}
.m05 {top: 0%; right: 0%;}

.wrapper {
  width: 1200px;
  overflow: hidden;
  position: relative;
  left: 50%;
  margin: 55px 0px 0px -600px;
  }
