/*--| 01· Home
-------------------------------------------------------------------------- |--*/

.home {

.wrapper {
  width: 1110px;
  height: 465px;
  margin: -230px 0px 0px -555px;
  /* background: url(../../img/front/guide.png) repeat 0px 0px; */
}

h1 {
  width: 360px;
  height: 130px;
  position: absolute;
  margin: 40px 0px 0px 1px;
  background: url(../../img/front/sprite2.png) no-repeat 0px 0px;
}

h2 {
  width: 450px;
  height: 125px;
  margin: 300px 0px 0px 445px;
  font-size: 1.9em; line-height: 1.447368421052632em; color: $blue;
  font-weight: normal; font-family: 'Asap', Arial, Helvetica, sans-serif;
  text-align: right;
  position: absolute;
}

.gif {
  float: right;
  width: 200px;
  height: 125px;
  margin: 290px 0px 0px 910px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}

nav ul {
  width: 310px;
  height: auto;
  min-height: 20px;
  overflow: hidden;
  margin: 225px 0px 0px 50px;
  position: absolute;
  li a {
    text-align: right;
    display: inline-block;
    width: auto;
    float: right;
    height: 35px;
    margin: 0px 0px 5px 0px;
    background-color: $blue;
    @include border-radius(3px);
    font-size: 1.6em; line-height: 35px; color: #fff;
    font-weight: 700; font-family: 'Asap', Arial, Helvetica, sans-serif;
    padding: 0px 10px 0px 50px;
    @include transition(all 0.15s ease-in-out);
    &:hover {background-color: #065780;}
  }
  .b01 a {
    background-color: #b32d12;
    height: 40px;
    font-size: 2em; line-height: 40px;
    padding-left: 240px;
  }
}

.news {
  width: 600px;
  height: 255px;
  margin: 10px 0px 0px 455px;
  .quedan {
    font-size: 2em; line-height: 1.5em; color: $blue;
    font-weight: 700; font-family: 'Asap', Arial, Helvetica, sans-serif;
    margin: 0px 0px 22px 0px;
    span {color: $red;}
  }
  ul li {
    font-size: 1.6em; line-height: 1.5em; color: $blue;
    font-weight: normal; font-family: 'Asap', Arial, Helvetica, sans-serif;
    margin: 0px 0px 0.5em 25px;
    &:before {
      font-family: 'aw';
      font-size: 0.9em;
      content: "\f00c";
      margin: 1px 4px 0px 0px;
      display: inline-block;
      color: $red;
    }
    a {
      color: $blue;
      font-weight: 700;
      @include transition(background 0.15s ease-in-out);
      @include border-radius(3px);
      &:hover {
        margin: 0px 0px 0px -4px;
        padding: 0px 4px 0px 4px;
        color: #fff;
        background-color: $blue;
      }
    }
  }
}

.social {
  width: 946px;
  height: 20px;
  margin: 180px 0px 0px 160px;
  position: absolute;
  .line-social {
    width: 780px;
    height: 1px;
    margin: 9px 0px 0px 0px;
  }
  .tw {
    position: absolute;
    width: 75px;
    height: 20px;
    margin: 0px 0px 0px 795px;
  }
  .fb {
    position: absolute;
    width: 80px;
    height: 20px;
    margin: 0px 0px 0px 875px;
    overflow: hidden;
  }
}


.line {
  background-color: $blue;
  position: absolute;
  z-index: 20;
  opacity: .3;
}

.line.line01 {
  width: 55px;
  height: 1px;
  margin: -160px 0px 0px 375px;
  }

.line.line02 {
  width: 1px;
  height: 160px;
  margin: -160px 0px 0px 430px;
  }

.line.line03 {
  width: 260px;
  height: 1px;
  margin: 0px 0px 0px 430px;
  }

.line.line04 {
  width: 1px;
  height: 15px;
  margin: 0px 0px 0px 690px;
  }

.line.line05 {
  width: 15px;
  height: 1px;
  margin: -225px 0px 0px 810px;
  }

.line.line06 {
  width: 1px;
  height: 35px;
  margin: -225px 0px 0px 825px;
  }

.creditos {
  width: 40px;
  height: 15px;
  margin: 0px 0px 0px 0px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 20;
  .sov a {
    width: 15px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    background: url(../../img/front/sprite2.png) no-repeat -25px -210px;
    float: right;
  }
  .les a {
    width: 25px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    background: url(../../img/front/sprite2.png) no-repeat 0px -210px;
    float: left;
  }
}


}
/* .content {
  width: 960px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -265px 0px 0px -480px;
  /*background-color: rgba(0, 0, 0, 0.65);
  }

/*.content h1, .content h2, .content h3 {font-size: 0;}

.content .imago {
  width: 200px;
  height: 210px;
  position: absolute;
  margin: 28px 0px 0px 0px;
  z-index: 10;
  background: url(../../img/front/imago.png) no-repeat 0px 0px;
  }

.content h1 {
  width: 590px;
  height: 210px;
  position: absolute;
  margin: 28px 0px 0px 0px;
  background: url(../../img/front/logo2.png) no-repeat 0px 0px;
  }

.content h3 {
  width: 231px;
  height: 25px;
  position: absolute;
  margin: 119px 0px 0px 700px;
  opacity: 0.95;
  background: url(../../img/front/sabado.png) no-repeat 0px 0px;
  }

.content .line01, .content .line02, .content .line03 {
  background-color: rgba(20, 143, 204, 0.21);
  position: absolute;
  }

.content .line01 {
  width: 90px;
  height: 1px;
  margin: 135px 0px 0px 599px;
  }

.content .line02 {
  width: 1px;
  height: 72px;
  margin: 211px 0px 0px 507px;
  }

.content p {
  position: absolute;
  display: block;
  margin: 302px 0px 0px 474px;
  font-size: 1.5em; line-height: 30px; color: rgba(20, 143, 204, 0.91);
  font-weight: normal; font-family: 'Asap', Arial, Helvetica, sans-serif;
  }

.content p a {
  display: inline-block;
  padding: 0px 15px 0px 10px;
  height: 30px;
  background-color: #148fcc;
  opacity: .94;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  margin: 0px 0px 0px 10px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  }

.content p.pri {
  font-size: 2em; line-height: 45px; color: rgba(20, 143, 204, 0.91);
  font-weight: 700; font-family: 'Asap', Arial, Helvetica, sans-serif;
}
.content p.pri a {height: 45px; padding: 0px 20px 0px 15px; background-color: #cc1414;}
.content p a:hover {
  opacity: 1;
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
.content p.pri a:before {
  font-family: 'aw';
  font-size: 0.9em;
  margin: -2px 8px 0px 0px;
  vertical-align: middle;
  content: "\f061";
  display: inline-block;
}
.content p a:active {
  opacity: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  }

.content p.last {margin: 440px 0px 0px 245px;}
.content p.sec {margin: 402px 0px 0px 363px;}
.content p.bre {margin: 360px 0px 0px 243px;}
.content p.last02 {margin: 443px 0px 0px 296px;}

.content .social {
  width: 90px;
  height: 50px;
  position: absolute;
  margin: 211px 0px 0px 792px;
  }

.content .social .fb, .content .social .tw {
  width: 90px;
  height: 25px;
  }

.content .line03 {
  width: 1px;
  height: 36px;
  margin: 158px 0px 0px 807px;
  background-color: rgba(20, 143, 204, 0.21);
  position: absolute;
  }

.mobile-lay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 90909090909090909090909090000090000000000;
  background-color: rgba(255, 255, 255, 0.85);
}
.mobile {
  display: none;
  width: 300px;
  height: 400px;
  margin: 0px 0px 0px 0px;
  background-color: #8b21a6;
  background: url(../../img/front/cel.jpg) no-repeat 0px 0px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
} */