/*-*/
/*Columna izquierda fluida*/
/*.footer-wrapper {float: left; width: 100%; overflow: hidden;}

.footer1 { height: 50px; margin-right: 350px; overflow: hidden; background: #ff9900 url(../../img/front/footer1.png) no-repeat 0px 0px; }

.footer1 .slideshow { width: 95%; height: 30px; background-color: #21a656; margin: 10px 0px 0px 15px; overflow: hidden; }

.footer1 .slide1 li a { display: block; width: 100px; height: 30px; margin: 0px 15px 0px 15px; background-color: #8b21a6; float: left; }*/
/*.contenido h3 { font: 700 4em/1.5em 'Asap', Arial, Helvetica, sans-serif; color: rgba(256, 256, 256, 0.55); margin: 0px 0px 0px 0px;
}
.contenido h4 { font: 700 2em/1.5em 'Asap', Arial, Helvetica, sans-serif; color: rgba(256, 256, 256, 0.60); margin: 0px 0px 0px 10px;
}


.tl { width: 375px; height: 235px; position: absolute; z-index: 20; margin: 320px 0px 0px 214px; }

.a00 ul { width: 345px; height: 455px;  margin: 33px 0px 0px 655px; position: absolute; z-index: 20; }

.a00 ul li { cursor: pointer; width: 345px; height: 45px; margin: 0px 0px 10px 0px; background-color: #8b21a6; opacity: .7;
}

.a00 ul li.b02 {margin: 0px 0px 255px 0px;}*/
/*--| Body, tipografías, esétera
-------------------------------------------------------------------------- |--*/
/*--| Content
---------------------------------------------------------------------------------------------- |--*/
/* line 114, 01-home.scss */
.content { width: 960px; height: 500px; position: absolute; left: 50%; top: 50%; margin: -265px 0px 0px -480px; /*background-color: rgba(0, 0, 0, 0.65);*/ }

/* line 124, 01-home.scss */
.content h1, .content h2, .content h3 { font-size: 0; }

/* line 126, 01-home.scss */
.content .imago { width: 200px; height: 210px; position: absolute; margin: 28px 0px 0px 0px; z-index: 10; background: url(../../img/front/imago.png) no-repeat 0px 0px; }

/* line 135, 01-home.scss */
.content h1 { width: 590px; height: 210px; position: absolute; margin: 28px 0px 0px 0px; background: url(../../img/front/logo2.png) no-repeat 0px 0px; }

/* line 143, 01-home.scss */
.content h3 { width: 231px; height: 25px; position: absolute; margin: 119px 0px 0px 700px; opacity: 0.95; background: url(../../img/front/sabado.png) no-repeat 0px 0px; }

/* line 152, 01-home.scss */
.content .line01, .content .line02, .content .line03 { background-color: rgba(20, 143, 204, 0.21); position: absolute; }

/* line 157, 01-home.scss */
.content .line01 { width: 90px; height: 1px; margin: 135px 0px 0px 599px; }

/* line 163, 01-home.scss */
.content .line02 { width: 1px; height: 72px; margin: 211px 0px 0px 507px; }

/* line 169, 01-home.scss */
.content p { position: absolute; display: block; margin: 302px 0px 0px 474px; font-size: 1.5em; line-height: 30px; color: rgba(20, 143, 204, 0.91); font-weight: normal; font-family: 'Asap', Arial, Helvetica, sans-serif; }

/* line 177, 01-home.scss */
.content p a { display: inline-block; padding: 0px 15px 0px 10px; height: 30px; background-color: #148fcc; opacity: .94; color: #fff; font-weight: 700; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; margin: 0px 0px 0px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

/* line 196, 01-home.scss */
.content p.pri { font-size: 2em; line-height: 45px; color: rgba(20, 143, 204, 0.91); font-weight: 700; font-family: 'Asap', Arial, Helvetica, sans-serif; }

/* line 200, 01-home.scss */
.content p.pri a { height: 45px; padding: 0px 20px 0px 15px; background-color: #cc1414; }

/* line 201, 01-home.scss */
.content p a:hover { opacity: 1; -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25); -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25); box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25); }

/* line 207, 01-home.scss */
.content p.pri a:before { font-family: 'aw'; font-size: 0.9em; margin: -2px 8px 0px 0px; vertical-align: middle; content: "\f061"; display: inline-block; }

/* line 215, 01-home.scss */
.content p a:active { opacity: 1; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* line 222, 01-home.scss */
.content p.last { margin: 440px 0px 0px 245px; }

/* line 223, 01-home.scss */
.content p.sec { margin: 402px 0px 0px 363px; }

/* line 224, 01-home.scss */
.content p.bre { margin: 360px 0px 0px 243px; }

/* line 225, 01-home.scss */
.content p.last02 { margin: 443px 0px 0px 296px; }

/* line 227, 01-home.scss */
.content .social { width: 90px; height: 50px; position: absolute; margin: 211px 0px 0px 792px; }

/* line 234, 01-home.scss */
.content .social .fb, .content .social .tw { width: 90px; height: 25px; }

/* line 239, 01-home.scss */
.content .line03 { width: 1px; height: 36px; margin: 158px 0px 0px 807px; background-color: rgba(20, 143, 204, 0.21); position: absolute; }

/* line 247, 01-home.scss */
.mobile-lay { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 90909090909090909090909090000090000000000; background-color: rgba(255, 255, 255, 0.85); }

/* line 256, 01-home.scss */
.mobile { display: none; width: 300px; height: 400px; margin: 0px 0px 0px 0px; background-color: #8b21a6; background: url(../../img/front/cel.jpg) no-repeat 0px 0px; position: fixed; top: 10px; left: 10px; cursor: pointer; }
