/*--| 01· Home
-------------------------------------------------------------------------- |--*/

.home {

.wrapper {
  width: 1110px;
  height: 465px;
  margin: -230px 0px 0px -555px;
  /* background: url(../../img/front/guide.png) repeat 0px 0px; */
}

h1 {
  width: 360px;
  height: 130px;
  position: absolute;
  margin: 40px 0px 0px 1px;
  background: url(../../img/front/sprite2.png) no-repeat 0px 0px;
}

h2 {
  width: 450px;
  height: 125px;
  margin: 300px 0px 0px 445px;
  font-size: 1.9em; line-height: 1.447368421052632em; color: $blue;
  font-weight: normal; font-family: 'Asap', Arial, Helvetica, sans-serif;
  text-align: right;
  position: absolute;
}

.gif {
  float: right;
  width: 200px;
  height: 125px;
  margin: 290px 0px 0px 910px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}

nav ul {
  width: 310px;
  height: auto;
  min-height: 20px;
  overflow: hidden;
  margin: 225px 0px 0px 50px;
  position: absolute;
  li a {
    text-align: right;
    display: inline-block;
    width: auto;
    float: right;
    height: 35px;
    margin: 0px 0px 5px 0px;
    background-color: $blue;
    @include border-radius(3px);
    font-size: 1.6em; line-height: 35px; color: #fff;
    font-weight: 700; font-family: 'Asap', Arial, Helvetica, sans-serif;
    padding: 0px 10px 0px 50px;
    @include transition(all 0.15s ease-in-out);
    &:hover {background-color: #065780;}
  }
  .b01 a {
    background-color: $red;
    height: 40px;
    font-size: 2em; line-height: 40px;
    padding-left: 240px;
    &:hover {background-color: #99260f;}
  }
}

.news {
  width: 600px;
  height: 255px;
  margin: 10px 0px 0px 455px;
  .quedan {
    font-size: 2em; line-height: 1.5em; color: $blue;
    font-weight: 700; font-family: 'Asap', Arial, Helvetica, sans-serif;
    margin: 0px 0px 22px 0px;
  }
  ul li {
    font-size: 1.6em; line-height: 1.5em; color: $blue;
    font-weight: normal; font-family: 'Asap', Arial, Helvetica, sans-serif;
    margin: 0px 0px 0.5em 25px;
    &:before {
      font-family: 'aw';
      font-size: 0.9em;
      content: "\f00c";
      margin: 1px 4px 0px 0px;
      display: inline-block;
      color: $red;
    }
    a {
      color: $blue;
      font-weight: 700;
      @include transition(background 0.15s ease-in-out);
      @include border-radius(3px);
      &:hover {
        margin: 0px 0px 0px -4px;
        padding: 0px 4px 0px 4px;
        color: #fff;
        background-color: $blue;
      }
    }
  }
}

.social {
  width: 946px;
  height: 20px;
  margin: 180px 0px 0px 160px;
  position: absolute;
  .line-social {
    width: 780px;
    height: 1px;
    margin: 9px 0px 0px 0px;
  }
  .tw {
    position: absolute;
    width: 75px;
    height: 20px;
    margin: 0px 0px 0px 795px;
  }
  .fb {
    position: absolute;
    width: 80px;
    height: 20px;
    margin: 0px 0px 0px 875px;
    overflow: hidden;
  }
}


.line {
  background-color: $blue;
  position: absolute;
  z-index: 20;
  opacity: .3;
}

.line.line01 {
  width: 55px;
  height: 1px;
  margin: -160px 0px 0px 375px;
  }

.line.line02 {
  width: 1px;
  height: 160px;
  margin: -160px 0px 0px 430px;
  }

.line.line03 {
  width: 260px;
  height: 1px;
  margin: 0px 0px 0px 430px;
  }

.line.line04 {
  width: 1px;
  height: 15px;
  margin: 0px 0px 0px 690px;
  }

.line.line05 {
  width: 15px;
  height: 1px;
  margin: -210px 0px 0px 770px;
  }

.line.line06 {
  width: 1px;
  height: 25px;
  margin: -210px 0px 0px 785px;
  }

.creditos {
  width: 45px;
  height: 15px;
  margin: 0px 0px 0px 0px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 20;
  .sov a {
    width: 15px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    background: url(../../img/front/sprite2.png) no-repeat -25px -210px;
    float: right;
  }
  .les a {
    width: 25px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    background: url(../../img/front/sprite2.png) no-repeat 0px -210px;
    float: left;
  }
}

.kkc-days,
.kkc-days-text {color: $red;}

}
